$primary-color: #CE3D3D;
$headings: #989898;
$table-row-color-1: #EFF0F0;
$table-row-color-2: #87B4DE;
$table-heading-color: #8db9e2;
$link-color: #5207B2;
$form-background-color: #DBDBDB;
$form-button-color: #462020;