{% extends "layouts/_default.twig" %}

{% block main_content %}
    {% if errors %}
        <ul>
            {% for e in errors %}
                <li>{{ e }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% include "choices/_form.twig", with { choice: false } %}
{% endblock %}